body {
	font-family: "Myriad Pro", arial, sans-serif, verdana;
	background: #060;
	color: #444;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #82a62b;
}

.red {
	color: #900;
}

#content h1,
	#content h2,
	#content h3 {
		background: url('/images/ico/arrow.png') center left no-repeat;
		font-weight: normal;
		padding-left: 15px;
		height: 18px;
		font-size: 20px;
		margin: 0 0 .8em;
		text-transform: uppercase;
	}

#content h1.nocap,
	#content h2.nocap,
	#content h3.nocap {
		text-transform: none;
	}

h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		color: #444;
	}

#content p {
	margin: 1.5em 0 1.5em;
}

#content blockquote {
	background: url('/images/bg/quote.jpg') top left no-repeat;
	padding: 10px 0 0 25px;
}

#content cite {
	color: #82a62b;
}

#page-wrap {
	background: #fff url('/images/rep/bg.jpg') top left repeat-x;
}

#page {
	background: url('/images/bg_static.jpg') top center no-repeat;
}

#head-con,
	#menu-con,
	#banner,
	#content-con,
	#footer-con {
		width: 100%;
	}

#head,
	#menu-con ul,
	#banner,
	#content,
	#footer {
		width: 958px;
		margin: 0 auto;
	}


#head {
	color: #686e73;
	height: 152px;
	position: relative;
}

#head a,
	#head .emph {
	display: inline-block;
	vertical-align: middle;
	padding-left: .4em;
	color: #82a62b;
}

#head #contact .emph {
	padding-right: 17px;
}

#head #contact #phone .emph {
	background: url('/images/ico/phone.png') top right no-repeat;
}

#head #contact #map .emph {
	background: url('/images/ico/map.png') top right no-repeat;
}

#logo {
	position: absolute;
	left: 45px;
	top: 32px;
}

#head > #contact {
	position: absolute;
	right: 27px;
	top: 58px;
}

#head > #contact p {
	font-size: 14px;
	line-height: 17px;
}

#menu-con {
	height: 34px;
	background: url('/images/rep/menu.jpg') repeat-x;
}

#menu-con .p3cms-menu {
	padding: 0;
	line-height: 34px;
	text-align: center;
}

#menu-con .p3cms-menu li {
	float: left;
	margin: 0 15px;

	transition: transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
}

#menu-con .p3cms-menu li a {
	font-size: 16px;
	color: #eff2ef;
	text-shadow: 0px 0px 2px #000;
	transition: text-shadow .2s ease-in;
	-moz-transition: text-shadow .2s ease-in;
	-o-transition: text-shadow .2s ease-in;
	-webkit-transition: text-shadow .2s ease-in;
}

#menu-con .p3cms-menu li:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

#menu-con .p3cms-menu li:hover a {
	color: #fff;
	text-shadow: 0px 0px 3px #fff;
}

#menu-con .p3cms-menu li a span {
}

#index #menu-con .p3cms-menu li.index a,
#about-us #menu-con .p3cms-menu li.about-us a,
#services #menu-con .p3cms-menu li.services a,
#monthly-specials #menu-con .p3cms-menu li.monthly-specials a,
#reviews #menu-con .p3cms-menu li.reviews a,
#reservations #menu-con .p3cms-menu li.reservations a,
#our-store #menu-con .p3cms-menu li.our-store a,
#beauty-tips #menu-con .p3cms-menu li.beauty-tips a,
#contact #menu-con .p3cms-menu li.contact a {
	color: #fe57a1;
	text-shadow: 0px 0px 3px #b70084;
}

#banner-con {
	background: #060;
	border-bottom: 9px solid #141414;
	padding: 10px 0 0;
}

#banner {
	width: 742px;
	height: 163px;
	margin: 0 auto -50px;
}

#banner.interior {
	background: url('/images/banners/interior.png') no-repeat;
}

#banner.home {
	width: 974px;
	margin-bottom: -75px;
}

#banner.home ul {
	padding: 0;
}

#banner.home li {
	padding: 0;
	height: 196px;
	display: block;
	float: left;
}

#banner.home li a {
	display: block;
	height: 100%;
}

#banner.home li.reservations {
	width: 369px;
	background: url('/images/banners/menu/home/reservations.png') no-repeat;
}

#banner.home li.services {
	width: 243px;
	background: url('/images/banners/menu/home/services.png') no-repeat;
}

#banner.home li.promotions {
	width: 361px;
	background: url('/images/banners/menu/home/promotions.png') no-repeat;
}

#banner-big {
	margin: -15px auto -105px;
}

#banner-big.home {
	background: url('/images/banners/big/home.png');
	width: 994px;
	height: 417px;
}

#content-con {
}

#content {
	padding: 108px 0 10em;
}

#sidebar-wrap {
	text-align: right;
	float: right;
	width: 258px;
	padding: 0 0 4em;
}

#footer-con {
	padding: 57px 0 70px;
}

#footer {
	height: 80px;
	position: relative;
	color: #808080;
}

#footer ul {
	margin: 0;
}

#footer a {
	color: #7aa218;
}

#footer .p3cms-menu {
	position: absolute;
	top: 0px;
	right: 0px;
}

#footer .p3cms-menu li {
	float: left;
	padding-left: 20px;
}

#footer #address {
	position: absolute;
	line-height: 1.5em;
	top: 0px;
	left: 0px;
}

#footer #syndicate {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#footer #social {
	position: absolute;
	top: 20px;
	right: 0px;
}

#footer #social a {
	color: #000;
	padding-left: 20px;
}

#comments-placeholder {
	margin: 2em 0 4em;
}

.twocol #component {
	padding-right: 270px;
}

p img.stock {
	float: left;
	margin: 0 1em 1em 0;
}

.form-table {
}

.form-table td {
	padding: .5em;
}

.form-table label {
	display: block;
	color: #608409;
	padding: .4em 0;
}

.form-table input,
.form-table textarea {
	padding-left: 5px;
}

.form-table input,
.form-table select,
.form-table textarea {
	background: #ececee;
	border: 1px solid #999;
	border-radius: 5px;
	width: 100%;
	line-height: 1.25em;
}

.form-table input:focus,
.form-table select:focus,
.form-table textarea:focus {
	color: #608409;
	border-color: #608409;
	box-shadow: 0px 0px 5px #8faa26;
	transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	-webkit-transform: scale(1.02);
}

.form-table button,
.form-table input[type=submit],
.form-table input[type=button] {
	width: auto;
	background: #344c01;
	border: 1px solid #344c01;
	color: #344c01;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 9px;
	position: relative;
	text-decoration: none;
	behavior: url(/js/PIE/PIE.php);
 	text-shadow: 1px 1px 1px #eaff8a;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #8faa26 0%, #bcde43 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #8faa26), color-stop(100%, #bcde43));
	background: -o-linear-gradient(top, #8faa26 0%, #bcde43 100%);
	-pie-background: linear-gradient(top, #8faa26 0%, #bcde43 100%);
	-webkit-box-shadow: inset 1px 1px 1px #eaff8a;
	-moz-box-shadow: inset 1px 1px 1px #eaff8a;
	box-shadow: inset 1px 1px 1px #eaff8a;
}

.form-table button.mousedown,
.form-table input[type=submit].mousedown,
.form-table input[type=button].mousedown {
	transform: scale(.89);
	-webkit-transform: scale(.89);
	-moz-transform: scale(.89);
	-o-transform: scale(.89);
}

.form-table label,
.form-table select {
}


/* Home Page */
#index .left,
#index .right {
	width: 448px;
	float: left;
}

#index .right {
	margin-left: 4em;
}

/* About Us */
#about-us #blockquote-con {
	background: url('/images/stock/bed.jpg') top left no-repeat;
	padding: 0 0 0 220px;
	height: 151px;
	margin: 0 0 2em;
}

#about-us #blockquote-con cite {
	float: right;
	margin: -10px 100px 0 0;
}

/* Services */
#services .section {
	margin-bottom: 8em;
}

#services .subnav {
	text-align: center;
}

#services .subnav li {
	display: inline-block;
	margin: 0 1em;
}

#services .service-table-wrap {
	background: url('/images/bg/table_left.png') top left no-repeat;
	width: 678px;
}

#services .service-table-wrap-inner {
	background: url('/images/bg/table_right.png') top right no-repeat;
	padding: 0 7px;
}

#services .service-table-wrap table {
	background: url('/images/bg/table_right.png') top right no-repeat;
	width: 100%;
}

#services .service-table-wrap table > thead > tr > th {
	background: url('/images/rep/table_head.png') repeat-x;
	height: 47px;
}

#services .service-table-wrap table > thead > tr > th {
	color: #a1d622;
	text-shadow: 0px 0px 3px #000;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 47px;
	text-align: center;
	border-bottom: 5px solid #b8b8ba;
}

#services .service-table-wrap table > thead > tr > th.first {
	color: #fff;
}

#services .service-table-wrap table > tbody > tr > td {
	line-height: 47px;
	border-top: 1px solid #ececee;
	border-bottom: 1px solid #ececee;
	border-left: 1px dotted #aaa;
	text-align: center;
	font-weight: bold;
}

#services .service-table-wrap table > tbody > tr > td.first {
	font-weight: normal;
}

#services .service-table-wrap table > tbody > tr > td:first-child {
	border-left: 1px solid #ececee;
}

#services .service-table-wrap table > tbody > tr > td:last-child {
	border-right: 1px solid #ececee;
}

#services .service-table-wrap table > tbody > tr.odd > td {
	background: #ececee;
}

#services .service-table-wrap table > tfoot > tr > td p {
	position: relative;
	top: -10px;
	font-weight: normal;
	text-align: right;
	font-style: italic;
	color: #999;
	padding-right: 2em;
}

/* Specials */
#monthly-specials .special {
	margin-bottom: 5em;
}

/* Reviews */
#reviews #blockquote-con {
	background: url('/images/stock/bed.jpg') top left no-repeat;
	padding: 0 0 0 220px;
	height: 151px;
	margin: 0 0 2em;
}

#reviews #blockquote-con cite {
	float: right;
	margin: -10px 100px 0 0;
}

/* Our Store */
#products {
}

#products .product-row {
}

#products .product-row .product {
	float: left;
	margin: 0 5px 0 0;
}

#products .product-placeholder {
	height: 223px;
	width: 222px;
	background: url('/images/placeholder/sm_product.png') no-repeat;
}

#products .product-placeholder-lg {
	width: 222px;
	height: 401px;
	background: url('/images/placeholder/lg_product.png') no-repeat;
}

/* Beauty Tips */
#videos {
}

#videos .video {
	width: 300px;
	background: #d9d7d2;
	float: left;
	margin: 0 0 50px;
	position: relative;
	padding: 0 0 70px;
}

#videos .video .description {
	position: absolute;
	bottom: 1px;
	right: 0px;
	width: 299px;
	background: #fff;
	height: 70px;
}

#videos .video .description p {
	padding-left: 10px;
}

#videos .video.first {
	margin-right: 200px;
}

/* Reservations */
.reservation-note {
	margin: 2em 0 0;
	padding: 2em 0 2em 4em;
	border-width: 1px 0 1px; 
	border-style: dotted;
	border-color: #666;
}

.reservation-note p {
	margin: 0 !important;
}

/* Side Bar */
#comments {
	background: #ececee;
	width: 230px;
	float: right;
}

#comments h4 {
	padding: 0;
	margin: 0;
	background: none;
	text-align: center;
	text-transform: none;
	padding: 1em 0;
}

#comments .comment {
	border: 1px solid #ececee;
	text-align: left;
	font-size: 12px;
	padding: 1em;
}

#comments .comment.odd {
	background: #fff;
}

#comments .comment blockquote {
	background: none;
	padding: 0 0 .5em;
	margin: 0;
}

#comments .comment cite {
	margin: 0;
	padding: 0;
	color: #444;
	font-weight: bold;
	font-style: normal;
}

#reservations-side {
	float: right;
	text-align: left;
	margin: 0 0 2em;
	background: #404040 url('/images/bg/cal.jpg') bottom left no-repeat;
	padding: 0 0 73px;
	color: #efefef;
	text-shadow: 0px 1px 1px #000;
	width: 230px;
}

#reservations-side h4 {
	padding: 0;
	margin: 0 1em;
	background: none;
	text-align: center;
	text-transform: none;
	border-bottom: 1px dotted #efefef;
	padding: 1em 0;
}

#reservations-side p {
	padding: 0 1em;
}

#reservations-side p strong {
	color: #9ac433;
}


/* Misc */
.req-astr {
	display: none;
}

.no-full select {
	width: auto;
}

label.error {
	color: #900;
}

input:focus.error,
input.error {
	border: #800;
	color: #900;
	box-shadow: 0px 0px 5px #900;
}